.skills-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills-header h2 {
    height: auto;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    line-height: 38px;
    font-size: 20px;
    letter-spacing: 0.35538em;
    box-sizing: border-box;
    border: 4px solid #000;
    padding: 10px 60px 10px 60px;
    text-align: center;
}

.uses {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.18538em;
    line-height: 37px;
}

.uses h2 {
    padding: 40px 0;
    margin-left: 240px;
}

.skills-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1004px;
    padding: 20px 0;
    margin: 0 auto;
}

.skills-container div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills-container div p {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    line-height: 29px;
    letter-spacing: 0.13538em;
}

.html-icon {
    color: #ff5722;
    font-size: 80px;
}

.css-icon {
    color: #2196f3;
    font-size: 80px;
}

.sass-icon {
    color: #cf649a;
    font-size: 80px;
}

.javascript-icon {
    color: #f7df1e;
    font-size: 80px;
    background: #000;
}

.react-icon {
    color: #53c1de;
    font-size: 80px;
}

.bootstrap-icon {
    color: #563d7c;
    font-size: 80px;
}

.git-icon {
    color: #f04e3c;
    font-size: 80px;
}

.figma-icon, .british-icon, .spanish-icon, .cplus-icon, .c-icon {
    width: 70%;
}

.node-icon {
    color: #539e43;
    font-size: 80px;
}

.mysql-icon {
    color: #00546b;
    font-size: 80px;
}

.mongodb-icon {
    color: #12924f;
    font-size: 80px;
}

.ts-icon {
    color: #007acc;
    font-size: 80px;
    background: #fff;
}

@media screen and (max-width: 1000px) {
    .skills-header h2 {
        font-size: 14px;
        padding: 10px 20px;
    }

    .uses {
        justify-content: center;
    }
    
    .uses h2 {
        margin: 0;
    }

    .skills-container {
        width: 100%;
        margin-left: 0;
        flex-direction: column;
    }

    .skills-container div {
        padding: 20px 0;
    }
}

@media screen and (max-width: 1100px) {
    .skills-container {
        margin-left: 0;
    }

    .uses{
        justify-content: center;
    }

    .uses h2 {
        margin: 0;
        padding: 40px 0;
    }
}
