.portfolio-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../../Assets/bg-portfolio.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 0;
}

.portfolio-header h2 {
  height: auto;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  line-height: 38px;
  font-size: 20px;
  letter-spacing: 0.35538em;
  box-sizing: border-box;
  border: 4px solid #000;
  padding: 10px 60px 10px 60px;
  text-align: center;
}

.showcase {
  background: #1a1a1a;
}

.showcase-items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.showcase-items2 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1;
  justify-content: center;
  align-items: center;
}

.showcase-items img,
.showcase-items2 img {
  width: 449px;
  margin: 0;
  height: auto;
}

.showcase-text {
  color: #fffbfb;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  align-self: center;
  text-align: center;
  padding: 20px;
}

@media screen and (max-width: 1280px) {
  .showcase-items,
  .showcase-items2 {
    flex-direction: column;
  }

  .showcase-items img,
  .showcase-items2 img {
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .portfolio-header h2 {
    padding: 10px;
    font-size: 14px;
  }
}