.contact-section {
  background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(26, 21, 21, 0) 0%,
      rgba(0, 0, 0, 0.16) 100%
    ),
    #ffffff;
  mix-blend-mode: normal;
}

.contact-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
}

.contact-header h2 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  letter-spacing: 0.35538em;
  box-sizing: border-box;
  border: 4px solid #000;
  padding: 10px 15px 10px 15px;
}

.contact-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 30px 0;
}

.contact-intro-text {
  text-align: center;
  margin-top: 50px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 138.68%;
  color: #050505;
}

.contact-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

.contact-socials a {
  padding: 0 20px;
  font-size: 40px;
}

.twitter-icon, .linkedin-icon, .email-icon, .instagram-icon {
  color: #000;
}


#contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px 0;
}

#contact-form input,
textarea {
  background: transparent;
  outline: none;
  border: none;
  width: 40%;
  height: 40px;
  border-left: 4px solid #000;
  border-bottom: 4px solid #000;
  margin-bottom: 40px;
  padding: 0 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 138.68%;
  color: #050505;
}

#contact-form textarea {
  height: 200px;
}

#contact-form button {
  background: none;
  border: none;
  border-left: 4px solid #000;
  border-right: 4px solid #000;
  outline: none;
  width: 10%;
  height: 40px;
  margin-bottom: 40px;
  padding: 0 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  letter-spacing: 0.1em;
  color: #000;
}

button:hover {
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .contact-header h2 {
    font-size: 14px;
  }

  .contact-socials a{
    padding: 0 5px;
  }

  #contact-form input,
  textarea {
    width: 70%;
  }

  #contact-form textarea {
    height: 150px;
  }

  #contact-form button {
    width: 50%;
  }
}
