.hero-navbar {
  display: flex;
  position: fixed;
  top: 0;
  z-index: 2;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 40px 90px 0;
}

.hero-navbar.fixed {
  background-color: #000;
  transition: .3s ease-in-out;
  padding-top: 0;
}

.hero-links {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-links a {
  flex-direction: column;
  text-decoration: none;
  margin-right: 1.5rem;
  padding-right: 1.5rem;
  font-size: 17px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

.hero-links li:last-of-type a {
  color: black;
  background: #fff;
  border: 4px solid #fff;
  border-radius: 30px;
  padding: 5px 5px;
}

@media screen and (max-width: 1000px) {
  .hero-navbar {
    display: none;
  }
}