.itberries-section {
  background: linear-gradient(
    90.18deg,
    #1d1d1d 31.74%,
    #1d1d1d 90.49%,
    #1d1d1d 90.49%
  );
  color: #fff;
  width: 100%;
}

.itberries-header {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  line-height: 37px;
  letter-spacing: 0.18538em;
  font-size: 20px;
  padding: 20px 0 10px 50px;
  margin: 0;
}

.itberries-content {
  display: flex;
  width: 95%;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  padding-bottom: 40px;
  margin-left: 10px;
  margin-right: 10px;
}

.itberries-text {
  font-family: "Open Sans", sans-serif;
  line-height: 138.68%;
  width: fit-content;
  align-self: center;
  text-align: justify;
}

.text {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  .itberries-header {
    font-size: 20px;
    text-align: center;
    padding: 20px 0 20px 0;
  }

  .itberries-content {
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    padding: 0;
  }

  .itberries-text {
    height: auto;
    text-align: justify;
    padding: 0 20px 70px 20px;
  }

  .itberries-logo {
    display: none;
  }
}
